.grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

}

.grid > :nth-child(1){

    min-height:280px;

}

.grid > :nth-child(2){

    min-height:280px;

}

.grid > :nth-child(3){

    min-height:220px;

}

.grid > :nth-child(4){

    min-height:220px;

}

.grid > :nth-child(5){

    min-height:240px;

}

.grid > :nth-child(6){

    min-height:240px;

}