.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 72px 1fr;

    grid-template-areas:
        "sidebar header"
        "sidebar main";

    width: 100vw;
    height: 100vh;

    background: var(--bg-primary);
}

.main {
    grid-area: main;

    overflow-y: auto;

    padding: var(--space-xl);
}